<div style="height: 100vh;" class="d-flex justify-content-center align-items-center ">
    <div class="row w-75 shadow-lg h-75">
        <div class="col-6 d-flex justify-content-center align-items-center ">
            <img width="400" src="https://static.vecteezy.com/system/resources/previews/001/991/652/original/sign-in-page-flat-design-concept-illustration-icon-account-login-user-login-abstract-metaphor-can-use-for-landing-page-mobile-app-ui-posters-banners-free-vector.jpg" alt="">
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <form #loginForm="ngForm" class="w-75 border border-1 shadow-lg   h-75  px-3 py-2 d-flex flex-column  justify-content-center" (ngSubmit)="login()">
              <h1 class="fw-bold text-center ">Login</h1>
              <input name="email" [(ngModel)]="email" class="form-control py-2 mt-4" required email #userEmailInput="ngModel" type="email" placeholder="Enter Your E-mail">
              <!-- Invlid Email -->
                <p *ngIf="userEmailInput.invalid && userEmailInput.touched" class="text-danger fw-bolder">
                    *Invalid Email
                </p>
              <input name="password" [(ngModel)]="password" class="form-control mt-4  py-2 " pattern="[a-zA-Z0-9]*" #userPasswordInput="ngModel" minlength="3" required password type="password" placeholder="Enter Your password">
              <p *ngIf="userPasswordInput.invalid && userPasswordInput.touched" class="text-danger fw-bolder">
                *Invalid Password
            </p>
              <div class="d-flex justify-content-center ">
                <button type="submit" [disabled]="loginForm.invalid && loginForm.touched" class="btn btn-success w-75 mt-5 text-center ">Login</button>
              </div>
            </form>
        </div>
    </div>
</div>
<pre>
    <p>email:{{email}}</p>
    <p>password:{{password}}</p>
</pre>