/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import 'ngx-toastr/toastr';
*{
    margin: 0px;
    padding: 0px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 361;
    font-style: normal;
}
h2{
    font-size: 50px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
